body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--gray-2);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

img {
    max-width: 100%;
}

input {
    font-family: var(--font-family);
}

::placeholder {
    font-family: var(--font-family);
}

.MenuContainer {
    position: absolute;
    top: 68px;
    right: 10px;
    width: 300px;
    li {
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 0.2s, color 0.2s;
        a {
            color: var(--primary);
        }
        &:hover {
            background-color: var(--primary);
            color: white;
            a {
                color: white;
            }
        }
    }
}


a {
    color: var(--text-color);
    text-decoration: none;
}
